{{ block title }}
    {{ C.TITLE_PREFIX }}Setup Wallet
{{ endblock }}
{{ block content }}

<!-- Now instead of a phrase we get the signature, with input type hidden -->
  {{ if wallet_phrase }}

    <div class="card my-3 p-3">
      {{ formfield 'phrase' label="Enter your seed phrase to continue playing under an existing wallet." }}


      <button type="submit" class="btn btn-primary" name="source" value="{{ C.WALLET_PHRASE }}">Open existing wallet</button>
    </div>

  {{ endif }}


  {{ if wallet_code }}

    <div class="card my-3 p-3">

    {{ if wallet }}

      <p>Continue with wallet from previous session: <strong>{{ wallet.public }}</strong></p>

      <input type="hidden" name="code" value="{{ wallet.code }}"/>

      <button type="submit" class="btn btn-primary" name="source" value="{{ C.WALLET_CODE }}">Continue with previous wallet</button>

    {{ else }}

      <p class="mb-0">Unable to associate with wallet from previous session.</p>

    {{ endif }}

    </div>

  {{ endif }}


  {{ if wallet_create }}

    <div class="card my-3 p-3">
      <p>You do not have a wallet yet? You can generate a new wallet right here.</p>

      {{ if wallet_phrase }}
        <p><strong>This can not be undone, if you want to continue with an existing wallet, enter your seed phrase above!</strong></p>
      {{ endif }}

      <button type="submit" class="btn btn-primary" name="source" value="{{ C.WALLET_CREATE }}">Generate new wallet</button>
    </div>

  {{ endif }}

  {{ if wallet_pubkey }}

  <div class="card my-3 p-3"></div>
    <p>Signed in now adding your pubkey to application</p>

    <button id="store-hashed-pubkey-btn" type="submit" class="btn btn-primary" name="source" value="{{ C.WALLET_PUBKEY }}">Store your hashed pubkey</button>
  {{ endif }}

{{ endblock }}

{{ block scripts }}
    <script src="{% static 'wallet/bundle.js' %}"></script>
{{ endblock }}
