{{ block title }}
    {{ C.TITLE_PREFIX }}Setup Wallet
{{ endblock }}
{{ block content }}

  {{ if wallet_code }}

    <div class="card my-3 p-3">

    {{ if wallet }}

      <p>Continue with wallet from previous session: <strong>{{ wallet.public }}</strong></p>

      <output type="hidden" name="code" value="{{ wallet.code }}"/>

      <button type="submit" class="btn btn-primary" name="source" value="{{ C.WALLET_CODE }}">Continue with previous wallet</button>

    {{ else }}

      <p class="mb-0">Unable to associate with wallet from previous session. Sign in again</p>

      <input type="hidden" name="source" value="{{ C.WALLET_PUBKEY }}"/>

      <output id="participant_id" type="hidden" name="participant id" value="{{ participant.id }}"/>

      <input id="sign-in" type="hidden" name="pubkey" value=" "/>
      <button id="sign-in-btn" type="submit" class="btn btn-primary">Sign-in</button>

    {{ endif }}

    </div>

  {{ endif }}

  {{ if wallet_pubkey and not wallet_code }}

  <div class="card my-3 p-3"></div>
    <p>Signed in now adding your pubkey to application</p>

    <input type="hidden" name="source" value="{{ C.WALLET_PUBKEY }}"/>
    <input id="participant_id" type="hidden" name="participant id" value="{{ participant.id }}"/>

    <input id="sign-in" type="hidden" name="pubkey" value=" "/>
    <button id="sign-in-btn" type="submit" class="btn btn-primary">Sign-in</button>

  {{ endif }}

{{ endblock }}

{{ block scripts }}
    <script src="{% static 'wallet/bundle.js' %}"></script>
{{ endblock }}
