{{ block title }}
    Polkadot Academy Wallet
{{ endblock }}
{{ block content }}

{{ if player.wallet and player.enroll }}
    <div class="alert alert-danger" role="alert">
      <h5 class="alert-heading">New wallet created</h5>
      <p class="mb-0">It is important that you note down your <strong>wallet seed phrase</strong> and keep it somewhere safe!</p>
    </div>
{{ endif }}

{{ include "global/wallet.html" }}

{{ if player.wallet }}

    <div class="float-end mt-3">
      {{ next_button }}
    </div>

{{ endif }}

{{ endblock }}
