{{ block title }}
  {{ lexicon.title }} {{ round }} / {{ num_rounds }}
{{ endblock }}


{{ block content }}
    <div id="output-timer-alert" class="alert alert-warning">
        <p>{{ lexicon.timer }}: <span id="output-timer-label" class="fw-bold">-:--</span></p>

        <div class="progress">
          {{ if group.treatment == "candle" }}
            <div id="output-timer-bar-ending" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: {{ candle_percentage_ending }}%"></div>
            <div id="output-timer-bar-normal" class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{ candle_percentage_normal }}%"></div>
          {{ else }}
            <div id="output-timer-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 100%"></div>
          {{ endif }}
        </div>
    </div>

    {{ include "slot_auction/practice_alert.html" }}

    <!-- Table with current result of auction -->
    <h3>{{ lexicon.subtitle_result }}</h3>
    <table class="table table-sm table-bordered align-middle text-center">
        <thead class="table-dark">
            <tr>
                <th>{{ lexicon.rank }}</th>
                {{ for slot in range_global_slots }}
                <th>{{ lexicon.slot }} {{ slot }}</th>
                {{ endfor }}
                {{ if use_dynamic_result }}
                <th>{{ lexicon.total }}</th>
                {{ endif }}
            </tr>
        </thead>
        <tbody id="tbody-results">
          {{ if use_static_result }}
            <!-- Row with global choice -->
            <tr id="output-global-row">
                <td id="output-global-rank">-</td>
                <td colspan="{{ num_global_slots }}">
                    <span class="d-flex justify-content-center align-items-center text-secodary border rounded border-secondary p-1">
                        <span id="output-{{ global_value }}-player">{{ lexicon.no_bidder }}</span>
                        <span id="output-{{ global_value }}-price" class="badge bg-secondary ms-2">{{ 0 | cu }}</span>
                    </span>
                </td>
            </tr>
            <!-- Rows with local choices (technically always just one row) -->
            {{ for before, after, row in local_choices }}
            <tr id="output-local-row">
                {{ if before != 0 }}
                <td colspan="{{ before }}"></td>
                {{ endif }}
                <td id="output-local-rank">-</td>
                {{ for name, value, valuation in row}}
                <td>
                    <span class="d-flex justify-content-center align-items-center text-secodary border rounded border-secondary p-1">
                        <span id="output-{{ value }}-player">{{ lexicon.no_bidder }}</span>
                        <span id="output-{{ value }}-price" class="badge bg-secondary ms-2">{{ 0 | cu }}</span>
                    </span>
                </td>
                {{ endfor }}
                {{ if after != 0 }}
                <td colspan="{{ after }}"></td>
                {{ endif }}
            </tr>
            {{ endfor }}
          {{ else }}
            <td>-</td>
            <td colspan="{{ num_global_slots }}" class="text-center">
                <span class="spinner-border spinner-border-sm"></span>
                {{ lexicon.waiting }}
            </td>
            <td>-</td>
          {{ endif }}
        </tbody>
    </table>

    <br/>

    <h3>{{ lexicon.subtitle_input }}</h3>

    <p>{{ lexicon.player_is }} {{ player.id_in_group }}.</p>

    <!-- Hidden alerts to display success and error messages -->
    <div id="output-success" class="alert alert-success d-none"></div>
    <div id="output-error" class="alert alert-danger d-none"></div>

    <!-- Table with selection of global and local slot choices -->
    <table class="table table-sm table-bordered">
        <thead class="table-dark">
            <tr>
                {% for slot in range_global_slots %}
                <th>{{ lexicon.slot }} {{ slot }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- Row with global choice -->
            <tr>
                <td colspan="{{ num_global_slots }}">
                    <input type="radio" id="input-slots-global" class="btn-check" name="slots" value="{{ global_value }}" autocomplete="off"/>
                    <label class="btn btn-outline-primary w-100" for="input-slots-global" onclick="select({{ global_valuation }})">{{ lexicon.all_slots }}<span class="badge bg-secondary ms-2">{{ global_valuation | cu }}</span></label>
                </td>
            </tr>
            <!-- Rows with local choices -->
            {{ for before, after, row in local_choices }}
            <tr>
                {{ if before != 0 }}
                <td colspan="{{ before }}"></td>
                {{ endif }}
                {{ for name, value, valuation in row}}
                <td colspan="{{ num_local_slots }}">
                    <input type="radio" id="input-slots-local-{{ value }}" class="btn-check" name="slots" value="{{ value }}" autocomplete="off" onclick="select({{ valuation }})"{{ if valuation == 0 }} disabled{{ endif }}/>
                    <label class="btn btn-outline-primary w-100" for="input-slots-local-{{ value }}" onclick="select({{ valuation }})">{{ lexicon.slot }} {{ name }}<span class="badge bg-secondary ms-2">{{ valuation | cu }}</span></label>
                </td>
                {{ endfor }}
                {{ if after != 0 }}
                <td colspan="{{ after }}"></td>
                {{ endif }}
            </tr>
            {{ endfor }}
        </tbody>
    </table>

    <!-- Row with price input, slider and bid button -->
    <div class="d-flex flex-wrap d-gap gap-3 align-items-center">
        <div class="form-floating">
            <input type="number" name="price-number" id="input-price-number" class="form-control" size="7" value="0" min="0" max="0" onkeydown="bidOnEnter(event)" disabled/>
            <label for="input-price-number">{{ lexicon.label_price }}:</label>
        </div>

        <input type="range" name="price-range" id="input-price-range" class="flex-fill" value="0" min="0" max="0" onkeydown="bidOnEnter(event)" disabled/>

        <button type="button" id="button-submit" class="btn btn-primary" onclick="bid()" disabled>{{ lexicon.button_bid }}</button>
    </div>
{% endblock %}


{% block scripts %}
    <!-- Countdown JS library used by timeout -->
    <script src="{% static 'otree/js/jquery.countdown.min.js' %}"></script>

    <!-- Custom JS to handle live updates and uses inputs -->
    <script>
     window.addEventListener('DOMContentLoaded', (event) => {
         /* Run countdown timer and progress bar */
         $('#output-timer-label').countdown(Date.now() + js_vars.timeout_remaining_ms)
           .on('update.countdown', function (event) {
               this.innerHTML = event.strftime('%-N:%S');

               let remaining = event.offset.totalSeconds;
               let percentage = 100.0 * remaining / js_vars.timeout_total;

             {{ if group.treatment == "candle" }}

               let percentage_normal = Math.max(percentage - js_vars.candle_percentage, 0);
               let percentage_ending = Math.min(percentage, js_vars.candle_percentage);

               $('#output-timer-bar-normal').css('width', percentage_normal + '%');

               /* Change alert color once candle auction could end */
               if(percentage_normal <= 0) {
                   $('#output-timer-alert').addClass('alert-danger');
               }

               $('#output-timer-bar-ending').css('width', percentage_ending + '%');

             {{ else }}

               $('#output-timer-bar').css('width', percentage + '%');

             {{ endif }}
           })
           .on('finish.countdown', function (event) {
               $('<input>').attr({
                   type: 'hidden',
                   name: 'timeout_happened',
                   value: '1'
               }).appendTo('form');
               $('#form').submit();
           });

         /* Request current auction state once page is loaded */
         liveSend({});
     });

     /* Initialize needed DOM objects. */
     const outputSuccessDom = document.querySelector('#output-success');
     const outputErrorDom = document.querySelector('#output-error');

     const inputPriceRangeDom = document.querySelector('#input-price-range');
     const inputPriceNumberDom = document.querySelector('#input-price-number');

     const buttonDom = document.querySelector('#button-submit');

     /* Callbacks to link price input and slider. */
     inputPriceRangeDom.addEventListener('input', function() {
         inputPriceNumberDom.value = this.value;
         buttonDom.disabled = !this.valueAsNumber;
     });

     inputPriceNumberDom.addEventListener('input', function() {
	       this.value = Math.min(Math.max(this.value, this.min), this.max);

         inputPriceRangeDom.value = this.value;
         buttonDom.disabled = !this.valueAsNumber;
     });

     /* Helpers to easily display messages in alert section */
     function displayNone() {
         outputSuccessDom.classList.add("d-none");
         outputSuccessDom.innerHTML = "";

         outputErrorDom.classList.add("d-none");
         outputErrorDom.innerHTML = "";
     }

     function displaySuccess(message) {
         outputErrorDom.classList.add("d-none");
         outputErrorDom.innerHTML = "";

         outputSuccessDom.innerHTML = message;
         outputSuccessDom.classList.remove("d-none");
     }

     function displayError(message) {
         outputSuccessDom.classList.add("d-none");
         outputSuccessDom.innerHTML = "";

         outputErrorDom.innerHTML = message;
         outputErrorDom.classList.remove("d-none");
     }

     /* Function called by input fields when selecting slots. */
     function select(valuation) {
         inputPriceRangeDom.max = valuation;
         inputPriceNumberDom.max = valuation;

         inputPriceRangeDom.disabled = !valuation;
         inputPriceNumberDom.disabled = !valuation;

         inputPriceNumberDom.value = inputPriceRangeDom.value;
     }

     /* Keyboard event handler that executes bid on enter. */
     function bidOnEnter(event) {
         if (event.key === "Enter") {
             event.preventDefault();
             bid();
         }
     }

     /* Submit currently selected bid */
     function bid() {
         displayNone();

         let slots = document.querySelector('input[name="slots"]:checked').value;
         liveSend({
             'price': inputPriceRangeDom.value,
             'slots': slots,
         });
     }

     /* Receive updated auction state from backend */
     function liveRecv(data) {
         let status = data[0];
         let payload = data[1];

     {{ if group.treatment == "activity" }}
       /* Reset timer on successfull bid */
       if (status == "success" || status == "update" )  {
           $('#output-timer-label').countdown(Date.now() + js_vars.timeout_total_ms);
       }
     {{ endif }}

       if (status == "success") {
           displaySuccess("{{ lexicon.result_success }}");
       }

       if (status == "success" || status == "update" || status == "init" ) {

         {{ if use_static_result }}

           var highest = payload[0];
           var winner = payload[1];
			
	   /* Add one to get winning distance */
           var distance = payload[2] + 1;

           for (let index = 0; index < highest.length; index++) {
               let value = highest[index][0];
               let player = highest[index][1];
               let price = highest[index][2];

               let name = "{{ lexicon.player }} " + player;
               if (player == js_vars.id_in_group) {
                   name += " ({{ lexicon.player_me }})";
               }

               document.querySelector(`#output-${value}-player`).innerHTML = name;
               document.querySelector(`#output-${value}-price`).innerHTML = price;
           }

           let global_row = document.querySelector('#output-global-row');
           let global_rank = document.querySelector('#output-global-rank');

           let local_row = document.querySelector('#output-local-row');
           let local_rank = document.querySelector('#output-local-rank');

           if (winner == "global") {
               $(global_row).addClass('table-success');
               global_rank.innerHTML = "&#x1F451; 1.";

               $(local_row).removeClass('table-success');
               local_rank.innerHTML = "2.";
           } else if (winner == "local") {
               $(global_row).removeClass('table-success');
               global_rank.innerHTML = "2.";

               $(local_row).addClass('table-success');
               local_rank.innerHTML = "&#x1F451; 1.";
           } else {
               $(global_row).removeClass('table-success');
               global_rank.innerHTML = "-";

               $(local_row).removeClass('table-success');
               local_rank.innerHTML = "-";
           }

         {{ else }}

           let results = '';

           for (let index = 0; index < payload.length; index++) {
               let rank = index + 1;
               let all_bids = payload[index][0];
               let total = payload[index][1];

               if (rank == 1) {
                   rank = "&#x1F451; " + rank;
               }

               results += `<tr><td>${rank}</td>`

               for (let column = 0; column < all_bids.length; column++) {
                   let width = all_bids[column][0];
                   let player = all_bids[column][1];
                   let price = all_bids[column][2];

                   results += `<td colspan=${width}>`
                   if (player != 0) {
                       let name = "{{ lexicon.player }} " + player;
                       if (player == js_vars.id_in_group) {
                           name += " ({{ lexicon.player_me }})";
                       }

                       results += `<span class="d-flex justify-content-center align-items-center text-secodary border rounded border-secondary p-1">${name}<span class="badge bg-secondary ms-2">${price}</span></span>`;
                   }
                   results += `</td>`;
               }

               results += `<td>${total}</td></tr>`;
           }

           if (results) {
               document.querySelector('#tbody-results').innerHTML = results;
           }

         {{ endif }}

       } else if (status == "error") {
           displayError(payload);
       } else {
           displayError(`{{ lexicon.status_unknown }}: ${status}`);
       }

     }
    </script>
{{ endblock }}
