{{ block title }}
    {{ lexicon.title }} {{ round }} / {{ num_rounds }}
{{ endblock }}


{{ block content }}
  <div id="output-timer-alert" class="alert alert-warning">
    <p>{{ lexicon.timer }}: <span id="output-timer-label" class="fw-bold">-:--</span></p>

    <div class="progress">
      <div id="output-timer-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 100%"></div>
    </div>
  </div>

  {{ include "slot_auction/practice_alert.html" }}

  <h3>{{ lexicon.subtitle_global }}</h3>

  <p>{{ lexicon.player_is }} {{ player.id_in_group }}.</p>

  <!-- Default group chat -->
  {{ chat }}

  <!-- Local group chat -->
  {{ if player.role != 'global' }}
    <h3>{{ lexicon.subtitle_local }}</h3>

    {{ chat channel=role_channel }}
  {{ endif }}

  <div class="float-end mt-3">
    <input type="checkbox" class="btn-check" id="input-ready" autocomplete="off" onchange="onChange(checked)">
    <label class="btn btn-outline-success"  id="label-ready" for="input-ready">...</label>
  </div>
{% endblock %}


{% block scripts %}
  <!-- Countdown JS library used by timeout -->
  <script src="{% static 'otree/js/jquery.countdown.min.js' %}"></script>

  <!-- Custom JS to handle live updates and uses inputs -->
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      /* Run countdown timer and progress bar */
      $('#output-timer-label').countdown(Date.now() + js_vars.chat_remaining_ms)
        .on('update.countdown', function (event) {
          this.innerHTML = event.strftime('%-N:%S');

          var remaining = event.offset.totalSeconds;
          var percentage = 100.0 * remaining / js_vars.chat_duration;

          $('#output-timer-bar').css('width', percentage + '%');
        })
        .on('finish.countdown', function (event) {
          nextPage();
        });

      /* Request current chat state once page is loaded */
      liveSend({});
    });

    function nextPage() {
      $('<input>').attr({
        type: 'hidden',
        name: 'timeout_happened',
        value: '1'
      }).appendTo('form');
      $('#form').submit();
    }

    const inputDom = document.querySelector('#input-ready');
    const labelDom = document.querySelector('#label-ready');

    /* React to local ready status changes */
    function onChange(checked) {
      liveSend({ 'ready': checked });
    }

    /* Receive updated ready status from backend */
    function liveRecv(data) {
      var ready = data[0];
      var num = data[1];
      var total = js_vars.players_per_group;

      if(ready) {
        labelDom.innerHTML = `{{ lexicon.button_on }} (${num} / ${total})`;
      } else {
        labelDom.innerHTML = `{{ lexicon.button_off }} (${num} / ${total})`;
      }
      inputDom.checked = ready;

      if (num == total) {
        nextPage();
      }
    }
  </script>
{{ endblock }}
