{{ block title }}
  {{ lexicon.title }} {{ round }} / {{ num_rounds }}
{{ endblock }}
{{ block content }}

  {{ include "slot_auction/practice_alert.html" }}

  <!-- Introduction -->
  {{ if is_intro_round }}

    <h3>{{ lexicon.subtitle }}</h3>

    <!-- Role introduction -->
    {{ if player.role == "global" }}

    <p>{{ lexicon.role_global }}</p>

    {{ elif player.role == "local" }}

    <p>{{ lexicon.role_local }}</p>

    {{ endif }}


    <!-- Treatment introduction -->
    {{ if group.treatment == "hard" }}

    <p>{{ lexicon.treatment_hard }}</p>

    {{ elif group.treatment == "candle" }}

    <p>{{ lexicon.treatment_candle }}</p>

    {{ elif group.treatment == "activity" }}

    <p>{{ lexicon.treatment_activity }}</p>

    {{ endif }}

  {{ endif }}

  <!-- Current Valuation -->
  <h3>{{ lexicon.title_valuation }}</h3>

  <p>{{ lexicon.player_id }} {{ player.id_in_group }}.</p>

  {{ include "slot_auction/valuation_table.html" }}

  <!-- Next page button -->
  <p>{{ lexicon.next_button }}</p>

  {{ next_button }}

{{ endblock }}
