{{ block title }}
    Start of Round {{ round }} / {{ num_rounds }}
{{ endblock }}
{{ block content }}

  {{ include "slot_auction/practice_alert.html" }}

  {{ if subsession.round_number == 1 }}

    <h3>Introduction</h3>

    <!-- Role introduction -->
    {{ if player.role == "global" }}

    <p>You are a <b>global</b> bidder.</p>

    {{ elif player.role == "local" }}

    <p>You are a <b>local</b> bidder.</p>

    {{ else }}

    <p>SOMETHING WENT WRONG! UNKNOWN ROLE: "{{ player.role }}"</p>

    {{ endif }}


    <!-- Treatment introduction -->
    {{ if group.treatment == "hard" }}

    <p>You are participating in an auction with hard ending.</p>

    {{ elif group.treatment == "candle" }}

    <p>You are participating in a candle auction.</p>

    {{ elif group.treatment == "activity" }}

    <p>You are participating in an activity-rule auction.</p>

    {{ else }}

    <p>SOMETHING WENT WRONG! UNKNOWN TREATMENT: "{{ player.treatment }}"</p>

    {{ endif }}

  {{ endif }}

    <h3>Your Valuation</h3>

    <p>You are Player {{ player.id_in_group }}.</p>

    {{ include "slot_auction/valuation_table.html" }}

    <p>Please press the button below once you are ready.</p>

    {{ next_button }}

{{ endblock }}
