{{ if player.wallet }}
    <div class="card my-3 p-3">

        <p>You wallet seed phrase is <b>{{ player.wallet.phrase }}</b>.</p>

        <table class="table table-sm table-bordered align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th>Participant Code</th>
                    <th>Balance</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{ for code, payoff, finished in player.wallet.transactions }}
                <tr>
                    <td>{{ code }}</td>
                    <td>{{ payoff }}</td>
                    <td>{{ if finished }}Completed{{ else }}In progress{{ endif }}</td>
                </tr>
                {{ endfor }}
            </tbody>
        </table>

        <p>You currently have a total of <b>{{ player.wallet.balance }}</b>.</p>

    </div>

{{ else }}

    <div class="alert alert-warning" role="alert">
        <p><b>Failed to associate wallet with participant.</b></p>
    </div>

{{ endif }}
